*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
/.metadata/
node_modules
test_out/
out/
coverage/**/*
npm-debug.log*
dist
lib
unit.xml
target
coverage
.nyc_output/
